# Configuration Firebase pour la production
REACT_APP_FIREBASE_API_KEY=AIzaSyD7Mw4NIXAdSvjoWPC9a5V4Ph3J7sXN3k4
REACT_APP_FIREBASE_AUTH_DOMAIN=votefilm-7b4a7.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=votefilm-7b4a7
REACT_APP_FIREBASE_STORAGE_BUCKET=votefilm-7b4a7.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=448163753822
REACT_APP_FIREBASE_APP_ID=1:448163753822:web:650482b41651ee2922a9cf
REACT_APP_FIREBASE_MEASUREMENT_ID=G-YJSJC8MVQL

# Configuration de l'application
REACT_APP_NAME=Prix du Public
REACT_APP_SUBTITLE=Festival Film Court de Dinan
REACT_APP_VERSION=1.0.0

# Configuration du déploiement
GENERATE_SOURCEMAP=false 